.swiper {
  width: 100%;
  height: 100%;
  background: #dbd6d6;
  padding-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 2px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide>button{
  padding: 0;
  border: 0;
}

.swiper-slide>button>img{
  margin-top: auto;
  border: 3px solid #b9b7b7;
  transition: all ease-in 0.3s;
}
.swiper-slide>button>img:hover{
  border: 3px solid #e20f60;
  transform: scale(1.02);
}
.wh{
  width: 150px;
  /* height: 100%; */
}

@media screen and (min-width: 400px) {
  .swiper-container {
    width: 400px;
  }
}
@media screen and (min-width: 600px) {
  .swiper-container {
    width: 600px;
  }
}

@media screen and (min-width: 900px) {
  .swiper-container {
    width: 900px;
  }
  .wh{
    width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper-container {
    width: 1200px;
  }
  .wh{
    width: 350px;
  }
}